* {
    margin: 0;
}

:root {
 --side-btn-color: #7752b3;
 --input-main-color: #e7e5e4;
}

html, body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(10, 10, 10);
}

.dashboard {
    display: grid;
    grid-template-columns: 1.92fr 7.2fr;
    height: 100%;
    margin: 0 305px;
}

.sidebar {
    background: var(--side-btn-color);
    color: white;
}

.logo {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 55px;
    padding: 10px 0 0 20px;
    gap: 10px;
    align-items: center;
    font-size: 1.7em;
    font-weight: 800;
}

.logo-img {
    background: url(images/odin1.png) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    color: white;
}

.navigation {
    display: grid;
    padding: 10px 0 0 20px;
    grid-template: repeat(11, 1fr) / 50px 1fr;
    gap: 20px 10px;
    font-size: 1.25em;
    font-weight: 800;
    align-items: center;
    justify-items: center;
}

.navigation :nth-child(13),
:nth-child(14) {
    grid-row: 7 / span 2;
    align-self: start;
}

.navigation-home {
    background: url(images/home-1-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.navigation-profile {
    background: url(images/profile-image-round-1326-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 21.5px;
    height: 21.5px;
}

.navigation-message {
    background: url(images/message-square-pencil-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 27px;
    height: 27px;
}

.navigation-history {
    background: url(images/history-round-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
}

.navigation-tasks {
    background: url(images/tasks-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.navigation-community {
    background: url(images/community-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 23px;
    height: 23px;
}

.navigation-paths {
    background: url(images/branching-paths-up-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.navigation-guides {
    background: url(images/guides-ui-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 22px;
    height: 21px;
}

.navigation-support {
    background: url(images/support-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
}

.navigation-privacy {
    background: url(images/privacy-svgrepo-com.svg) no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
}

.navigation-text {
    justify-self: start;
}

.main {
    background: var(--input-main-color);
    display: grid;
    grid-template-rows: 1.05fr 5fr;
}

.header {
    background: white;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    box-shadow: 0 3px 9px -5px #4e4e4e;
}

.search {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 7.5fr 1.5fr 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.search :nth-child(3) {
    justify-self: end;
    padding-right: 20px;
}

.search :nth-child(5) {
    justify-self: start;
    padding-left: 20px;
    font-size: 1.05em;
    font-weight: 900;
}

.magnifier_img {
    background: url(images/magnifier.png) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

input {
    width: calc(100%);
    padding: 6px 9px;
    border-radius: 15px;
    border: none;
    background: var(--input-main-color);
    font-size: 1em;
    grid-column: 2;
}

.bell_img {
    background: url(images/notification.png) no-repeat;
    background-size: cover;
    width: 23px;
    height: 23px;
}

.small-avatar {
    background: url(images/user.png) no-repeat;
    background-size: cover;
    margin-left: 40px;
    width: 40px;
    height: 40px;
}

.info {
    display: grid;
    grid-template: 1.3fr 2fr / 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.info :nth-child(1) {
    grid-row: 1 / span 2;
    background: url(images/user.png) no-repeat;
    background-size: cover;
    width: 65px;
    height: 65px;
    justify-self: end;
    margin-right: 20px;
}

.current-mood {
    justify-self: start;
    align-self: end;
    font-size: 0.8em;
    font-weight: 900;
    padding: 0;
}

.login-name-tag {
    margin-top: 2px;
    justify-self: start;
    align-self: start;
    font-size: 1.3em;
    font-weight: 900;
}

.buttons {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 10px;
    margin-right: 20px;
}

.buttons > button {
    min-width: 92px;
    padding: 11px 0;
    background: var(--side-btn-color);
    border: none;
    border-radius: 45px;
    color: white;
    font-weight: 900;
    cursor: pointer;
}

.buttons :nth-child(1) {
    grid-column: 2;
}

button:hover {
    background: #9878cc;
}

button:active {
    background: #5b24b3;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1.15fr;
}

.content-part-one {
    display: grid;
    grid-template-rows: 1.082fr 14fr;
}

.content-part-one p {
    font-size: 1.15em;
    font-weight: 900;
    align-self: end;
    padding-left: 20px;
    padding-bottom: 3px;
}

.cards {
    padding: 5px 20px;
    gap: 20px;
    display: grid;
    grid-template: repeat(auto-fit, minmax(100px, 1fr)) / repeat(auto-fit, minmax(255px, 1fr));
    margin-bottom: 50px;
}

.cards > div {
    border-radius: 7px;
    background: white;
    border-left: 7px solid #fdba74;
    box-shadow: 3px 3px 7px 0px #BCBCBC;
}

.card {
    display: grid;
    grid-template: 0.7fr 3fr 1.5fr / 4fr 1.5fr 1.5fr 1.5fr;
    padding: 25px 5px 15px 25px;
}

.card :nth-child(1) {
    grid-column: 1 / 5;
    font-size: 0.97em;
    font-weight: 900;
}

.card :nth-child(2) {
    grid-column: 1 / 5;
    font-size: 0.85em;
    color: gray;
}

.card-img-1 {
    background: url(images/star.png) no-repeat;
    grid-column: 2;
    width: 23px;
    height: 23px;
}

.card-img-2 {
    background: url(images/eye-look-show-view-visible-visiblity-svgrepo-com.svg) no-repeat;
    width: 28px;
    height: 28px;
}

.card-img-3 {
    background: url(images/external-link.png) no-repeat;
    width: 20px;
    height: 20px;
}

.card-img {
    align-self: center;
    justify-self: center;
    background-size: cover;
}

.content-part-two {
    display: grid;
    grid-template: 0.85fr 1fr / 1fr;
}

.announcements, 
.trending {
    display: grid;
    grid-template: 1fr 6fr / 1fr;
    gap: 5px;
}

.announcements {
    padding: 5px 30px 0 0;
}

.trending {
    padding: 0 30px 55px 0;
}

.content-part-two p {
    font-size: 1.15em;
    font-weight: 900;
    align-self: end;
    padding-bottom: 3px;
}

.announce-div,
.trend-div {
    display: grid;
    border-radius: 7px;
    background: white;
    box-shadow: 3px 3px 7px 0px #BCBCBC;
}

.announce-div {
    padding: 20px 20px 0 20px;
}

.sub-announce {
    display: grid;
    grid-template: repeat(3, 3fr) / 1fr;
}

.ann-content {
    display: grid;
    grid-template-rows: 0.8fr 3fr;
    padding: 5px;
}

.announce-title {
    font-size: 0.8em;
    font-weight: 900;
} 

.announce-text {
    font-size: 0.7em;
    color: gray;
}

.underline {
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 10px;
}

.trend-div {
    grid-template: repeat(4, 1.5fr 2fr) / 1.5fr 3fr;
}

.trend-img {
    grid-row: span 2;
    justify-self: center;
    align-self: center;
    width: 40px;
    height: 40px;
}

.trnd-img1 {
    background: url(images/structure.png) no-repeat;
    background-size: cover;
}

.trnd-img2 {
    background: url(images/nodes.png) no-repeat;
    background-size: cover;
}

.trnd-img3 {
    background: url(images/postgresql.png) no-repeat;
    background-size: cover;
}

.trnd-img4 {
    background: url(images/typescript.png) no-repeat;
    background-size: cover;
}

.trend-title {
    font-size: 0.8em;
    align-self: end;
}

.trend-text {
    font-size: 0.7em;
    color: gray;
    align-self: start;
}