* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(10, 10, 10);
}

.dashboard {
    display: grid;
    grid-template-columns: 1.92fr 7.2fr;
    height: 100%;
    margin: 0 305px;
}

.sidebar {
    background: rgb(50, 159, 202);
    color: white;
}

.logo {
    display: grid;
    grid-template-columns: 50px 1fr;
    margin-bottom: 55px;
    padding: 10px 0 0 10px;
    gap: 10px;
    align-items: center;
    font-size: 2em;
    font-weight: 800;
}

.logo-img {
    background: url(images/placeholder-icon.svg) no-repeat;
    width: 50px;
    height: 50px;
    color: white;
}

.navigation {
    display: grid;
    padding: 10px 0 0 10px;
    grid-template: repeat(11, 1fr) / 50px 1fr;
    gap: 20px 10px;
    font-size: 1.25em;
    font-weight: 800;
    align-items: center;
    justify-items: center;
}

.navigation :nth-child(13),
:nth-child(14) {
    grid-row: 7 / span 2;
    align-self: start;
}

.navigation-img {
    background: url(images/placeholder-icon.svg) no-repeat;
    width: 25px;
    height: 25px;
    color: white;
}

.navigation-text {
    justify-self: start;
}

.main {
    background: lightgrey;
    display: grid;
    grid-template-rows: 1.05fr 5fr;
}

.header {
    background: white;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.search {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 7fr 2fr 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.search :nth-child(3) {
    justify-self: end;
    padding-right: 20px;
}

.search :nth-child(5) {
    justify-self: start;
    padding-left: 20px;
    font-size: 1.05em;
    font-weight: 900;
}

.magnifier_img {
    background: url(images/placeholder-icon-black.svg) no-repeat;
    width: 20px;
    height: 20px;
}

input {
    padding: 7px 180px;
    border-radius: 15px;
    border: none;
    background: lightgrey;
}

.bell_img {
    background: url(images/placeholder-icon-black.svg) no-repeat;
    width: 20px;
    height: 20px;  
}

.small-avatar {
    background: url(images/placeholder-icon-black.svg) no-repeat;
    width: 40px;
    height: 40px;
}

.info {
    display: grid;
    grid-template: 1.3fr 2fr / 1fr 3fr;
    align-items: center;
    justify-items: center;
}

.info :nth-child(1) {
    grid-row: 1 / span 2;
    background: url(images/placeholder-icon-black.svg) no-repeat;
    width: 50px;
    height: 50px;
    justify-self: end;
    padding-right: 30px;
}

.current-mood {
    justify-self: start;
    align-self: end;
    font-size: 0.8em;
    font-weight: 900;
    padding: 0;
}

.login-name-tag {
    margin-top: 2px;
    justify-self: start;
    align-self: start;
    font-size: 1.3em;
    font-weight: 900;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    gap: 10px;
}

.buttons > button {
    min-width: 92px;
    padding: 11px 0;
    background: rgb(50, 159, 202);
    border: none;
    border-radius: 45px;
    color: white;
    font-weight: 900;
}

.buttons :nth-child(1) {
    grid-column: 2;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1.15fr;
}

.content-part-one {
    display: grid;
    grid-template-rows: 1.082fr 14fr;
}

.content-part-one p {
    font-size: 1.15em;
    font-weight: 900;
    align-self: end;
    padding-left: 20px;
    padding-bottom: 3px;
}

.cards {
    padding: 5px 20px;
    gap: 20px;
    display: grid;
    grid-template: repeat(auto-fit, minmax(100px, 1fr)) / 1fr 1fr;
    margin-bottom: 50px;
}

.cards > div {
    border-radius: 7px;
    background: white;
    border-left: 7px solid orange;
}

.card {
    display: grid;
    grid-template: 0.7fr 3fr 1.5fr / 4fr 1.5fr 1.5fr 1.5fr;
    padding: 25px 5px 15px 25px;
}

.card :nth-child(1) {
    grid-column: 1 / 5;
    font-size: 0.97em;
    font-weight: 900;

}

.card :nth-child(2) {
    grid-column: 1 / 5;
    font-size: 0.85em;
    color: gray;
}

.card-img-1 {
    background: url(images/placeholder-icon-black.svg) no-repeat;
    grid-column: 2;
}

.card-img-2 {
    background: url(images/placeholder-icon-black.svg) no-repeat;
}

.card-img-3 {
    background: url(images/placeholder-icon-black.svg) no-repeat;
}

.card-img {
    width: 20px;
    height: 20px;
    align-self: center;
    justify-self: center;
}

.content-part-two {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
}

.announcements, 
.trending {
    display: grid;
    grid-template: 1fr 6fr / 1fr;
}

.content-part-two p {
    font-size: 1.15em;
    font-weight: 900;
    align-self: end;
    padding-bottom: 3px;
}

.announce-div,
.trend-div {
    display: grid;
    border-radius: 7px;
    background: white;
    margin: 4.5px 30px 0 0;
}

.announce-div {
    padding: 20px;
}

.sub-announce {
    display: grid;
    grid-template: repeat(3, 0.8fr 3fr) / 1fr;
    padding: 5px;
}

.trend-div {
    margin: 4.5px 30px 55px 0;
    padding: 15px;
}

.announce-title {
    font-size: 0.8em;
    font-weight: 900;
}

.announce-text {
    font-size: 0.7em;
    color: gray;
}

.underline {
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-bottom: 10px;
}